div.container {
  display: flex;
  max-height: 3rem;
}

input.messageBox {
  font-size: 2rem;
  flex-grow: 1;
  width: 100%;
  min-width: none;
}

button.send {
  border: none;
  cursor: pointer;
  background-color: #aaaaff;
  width: fit-content;
}

button.send:active {
  background-color: #4444ff;
}

button.send:hover {
  background-color: #8888ff;
}

div.send {
  background-image: url("Send_Button.png");
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  width: 3rem;
  height: 3rem;
  aspect-ratio: 1 / 1;
  /* border: 5px solid #ffffff; */
  box-sizing: border-box;
  cursor: pointer;
  filter: drop-shadow(1px 1px 1px);
  margin-right: 1vw;
}

div.send:hover {
  filter: brightness(90%) drop-shadow(1px 1px 1px);
}

div.send:active {
  filter: brightness(85%) drop-shadow(1px 1px 1px);
}