<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head lang="en">
	<meta charset="UTF-8"/>
	<title>LionChat</title>
	
	<link th:href="@{/styles/chatpage.css}" rel="stylesheet" />
	<script th:src="@{/js/chatpage.js}"></script>
</head>

<div class="chat-popup" id="myForm">
	<form action="/action_page.php" class="form-container">
		<h1>Chat</h1>

		<label for="msg"><b>Message</b></label>
		<textarea placeholder="Type message.." name="msg" required></textarea>

		<button type="submit" class="btn">Send</button>
		<button type="button" class="btn cancel" onclick="closeForm()">Close</button>
	</form>
</div>